/* GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.header-container{
    display: flex;
    width: 1500px;
    margin: 20px auto;
}


.inside{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

/* BUSINESS-ROW */
.row-business{
     display: flex;
     margin-left: 50px;
     font-weight: 400;
}

.row-business a{
    margin-left: 20px;
    text-decoration: none;
    color: #717D87;
    transition: .3s;
}

.row-business a:hover,
.contact-list a:hover{
    color: rgba(0, 0, 0, 1);
}

.logo-header img{
    width: 70px;
}

/* CONTACT-LIST */
.main-list{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.contact-list{
    display: flex;
    align-items: center; 
}

.contact-list li {
    list-style: none;
}

.contact-list a{
    margin-left: 20px;
    text-decoration: none;
    color: #717D87;
    transition: .3s;
}

/* TENDINA-LIST */
.contact-list li.drop-down{
    position: relative;
}

 .contact-list .drop-down-menu{                                              /* SERVE PER LA TENDINA A SCOMPARSA  */
    position: absolute;
    display: none;    /* jQuery */
    top: 100%;
    right: -16px;
    width: 150px;
    height: 300px;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, .2));
    background: #fff;
    /* overflow: hidden;
    /* overflow: scroll; */         /* SERVE PER LO SCROLL (PROVA)  */
}

.contact-list .drop-down-menu::before{                   /* SERVE PER IL QUADRATINO ROTATO DI 45 GRADI  */
    content: "";
    position: absolute;                            
    width: 16px;
    height: 16px;
    top: -8px;
    right: 30px;
    transform: rotate(45deg);
    background: #fff;

}

.contact-list .drop-down-menu li {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    color: #717D87;
    transition: .3s ease;
    cursor: pointer;
}

.contact-list .drop-down-menu li:hover{
    color: rgba(0, 0, 0, 1);;
}

/* BOTTONI  */
.main-list .btn button{
    width: 115px;
    height: 43px;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: .3s;
    margin-left: 20px;
}

.main-list .btn button:nth-child(2){
    background-color: black;
    color: #fff;
}

.main-list .btn button:hover:nth-child(2){
    background: rgba(25, 28, 31, 0.84);
}









