/* GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.header-container{
    display: flex;
    width: 1500px;
    margin: 20px auto;
}


.inside{
    display: flex;
    align-items: center;
    flex-direction: row;
}

/* BUSINESS-ROW */
.row-business{
     display: flex;
     margin-left: 50px;
     font-weight: 400;
}

.row-business a{
    margin-left: 20px;
    text-decoration: none;
    color: #717D87;
    transition: .3s;
}

.row-business a:hover,
.contacs-list a:hover{
    color: rgba(0, 0, 0, 1);
}

.logo-header img{
    width: 70px;
}

/* CONTACT-LIST */
.main-list{
    display: flex;
    justify-content: flex-end;
}

.contact-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact-list li {
    list-style: none;
}

.contact-list a{
    margin-left: 20px;
    text-decoration: none;
    color: #717D87;
    transition: .3s;
}

/* BOTTONI  */
.main-list .btn button{
    width: 115px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: .3s;
}

.main-list .btn button:nth-child(2){
    background-color: black;
    color: #fff;
}

.main-list .btn button:hover:nth-child(2){
    background: rgba(25, 28, 31, 0.84);
}









